.profile {
  display: flex;
  align-items: center;
  padding: 40px 0 32px;
  border-top: 1px solid rgba(84, 84, 84, 1);
  font-family: "Inter", Arial, sans-serif;
  color: white;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px);
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid white;
  align-self: center;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-columns: auto;
  }

  .profile__title {
    font-size: 32px;
    line-height: 38px;
    max-width: 340px;
  }

  .profile__image {
    margin: 0 10px 0 0;
  }

  .profile__add-button {
    width: 50px;
  }
}

@media screen and (max-width: 621px) {
  .profile {
    padding: 43px 0 21px;
    flex-direction: column;
    text-align: center;
  }
  .profile__info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 29px 0 33px 0;
    max-width: 320px;
    gap: 14px;
  }

  .profile__title {
    font-size: 22px;
    min-width: 201px;
    max-width: 222px;
  }

  .profile__description {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }

  .profile__image {
    margin-right: 0;
  }

  .profile__add-button {
    margin: 0 auto;
    width: 100%;
    max-width: 282px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
  }
}
